<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=7D1AFE2800030002D653">
      <section name="Gis_gkh_Tomsk.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <!--
  <system.diagnostics>
    <sources>
        <source name="System.ServiceModel.MessageLogging" switchValue="Warning">
        <listeners>
          <add name="xml" />
        </listeners>
      </source>
      <source name="System.Runtime.Serialization">
        <listeners>
          <add name="xml" />
        </listeners>
      </source>
      <source name="System.Net" maxdatasize="102400" >
        <listeners>
          <add name="System.Net" />
        </listeners>
      </source>
      <source name="System.Net.Cache">
        <listeners>
          <add name="System.Net" />
        </listeners>
      </source>
    </sources>
    <sharedListeners>
      <add name="xml" type="System.Diagnostics.XmlWriterTraceListener" initializeData="Traces.log" />
      <add name="System.Net" type="System.Diagnostics.TextWriterTraceListener" initializeData="network.log" traceOutputOptions="DateTime, Timestamp,  ProcessId, ThreadId" />
    </sharedListeners>
    <switches>
      <add name="System.Net" value="Verbose" />
      <add name="System.Net.Cache" value="Information" />
    </switches>
    <trace autoflush="true" />
  </system.diagnostics>
  -->
  <system.net>
    <settings>
      <servicePointManager checkCertificateName="false" checkCertificateRevocationList="false" />
    </settings>
  </system.net>
  <system.serviceModel>
    <!--
    <diagnostics>
      <messageLogging logEntireMessage="true" maxMessagesToLog="3000" logMessagesAtServiceLevel="true" logMalformedMessages="true" logMessagesAtTransportLevel="true" maxSizeOfMessageToLog="2147483647" />
      <endToEndTracing activityTracing="true" messageFlowTracing="true"/>
    </diagnostics>
    -->
    <bindings>
      <customBinding>
        <!-- Привязка для работы с сервисами напрямую -->
        <binding name="SITBindingCustom" receiveTimeout="00:03:00" sendTimeout="00:10:00" closeTimeout="00:03:00" openTimeout="00:03:00">
          <textMessageEncoding messageVersion="Soap11" />
          <httpsTransport useDefaultWebProxy="false" requireClientCertificate="true" authenticationScheme="Basic" maxReceivedMessageSize="2147483647" />
        </binding>
        <binding name="PPAKBindingCustom" receiveTimeout="00:10:00" sendTimeout="00:10:00" closeTimeout="00:03:00" openTimeout="00:03:00">
          <textMessageEncoding messageVersion="Soap11" />
          <httpsTransport useDefaultWebProxy="false" requireClientCertificate="true" maxReceivedMessageSize="2147483647" />
        </binding>
      </customBinding>
      <basicHttpBinding>
        <binding name="secureHttpBinding" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" useDefaultWebProxy="false" sendTimeout="00:02:00" receiveTimeout="00:02:00">
          <security mode="Transport">
            <transport clientCredentialType="Certificate" realm="" proxyCredentialType="Ntlm" />
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <extensions>
      <behaviorExtensions>
        <add name="MyBehavior" type="Gis_gkh_Tomsk.MyExtensionElement, Gis_gkh_Tomsk, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
      </behaviorExtensions>
    </extensions>
    <behaviors>
      <endpointBehaviors>
        <behavior name="clientCertificateConf">
          <MyBehavior />
          <clientCredentials>
            <serviceCertificate>
              <!--<authentication certificateValidationMode="None" revocationMode="NoCheck" />-->
            </serviceCertificate>
          </clientCredentials>
        </behavior>
        <behavior name="clientCommon">
          <clientCredentials>
            <serviceCertificate>
              <!--<authentication certificateValidationMode="None" revocationMode="NoCheck" />-->
            </serviceCertificate>
          </clientCredentials>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <client>
      <!-- PPAK -->
      <endpoint address="https://api.dom.gosuslugi.ru/ext-bus-org-registry-common-service/services/OrgRegistryCommonAsync" behaviorConfiguration="clientCertificateConf" binding="customBinding" bindingConfiguration="PPAKBindingCustom" contract="RegOrgPortsTypeAsync" name="PPAK_RegOrgPortAsync"></endpoint>
      <endpoint address="https://api.dom.gosuslugi.ru/ext-bus-device-metering-service/services/DeviceMeteringAsync" behaviorConfiguration="clientCertificateConf" binding="customBinding" bindingConfiguration="PPAKBindingCustom" contract="DeviceMeteringPortTypesAsync" name="PPAK_DeviceMeteringPortAsync"></endpoint>
      <endpoint address="https://api.dom.gosuslugi.ru/ext-bus-home-management-service/services/HomeManagementAsync" behaviorConfiguration="clientCertificateConf" binding="customBinding" bindingConfiguration="PPAKBindingCustom" contract="HouseManagementPortsTypeAsync" name="PPAK_HouseManagementPortAsync"></endpoint>
      <endpoint address="https://api.dom.gosuslugi.ru/ext-bus-nsi-common-service/services/NsiCommonAsync" behaviorConfiguration="clientCertificateConf" binding="customBinding" bindingConfiguration="PPAKBindingCustom" contract="NsiPortsTypeAsync" name="PPAK_NsiPortAsync"></endpoint>
      <endpoint address="https://api.dom.gosuslugi.ru/ext-bus-bills-service/services/BillsAsync" behaviorConfiguration="clientCertificateConf" binding="customBinding" bindingConfiguration="PPAKBindingCustom" contract="BillsPortsTypeAsync" name="PPAK_BillsPortAsync"></endpoint>
      <endpoint address="https://api.dom.gosuslugi.ru/ext-bus-payment-service/services/PaymentAsync" behaviorConfiguration="clientCertificateConf" binding="customBinding" bindingConfiguration="PPAKBindingCustom" contract="PaymentPortsTypeAsync" name="PPAK_PaymentPortAsync"></endpoint>
      <endpoint address="https://api.dom.gosuslugi.ru/ext-bus-nsi-service/services/NsiAsync" behaviorConfiguration="clientCertificateConf" binding="customBinding" bindingConfiguration="PPAKBindingCustom" contract="NsiPortsTypeAsync1" name="PPAK_NsiPortAsync1"></endpoint>
      <endpoint address="https://api.dom.gosuslugi.ru/ext-bus-volume-quality-service/services/VolumeQualityAsync" behaviorConfiguration="clientCertificateConf" binding="customBinding" bindingConfiguration="PPAKBindingCustom" contract="VolumeQualityPortAsync" name="PPAK_VolumeQualityPortAsync"></endpoint>
      <!-- SIT1 -->
      <endpoint address="https://217.107.108.147:10081/ext-bus-org-registry-common-service/services/OrgRegistryCommonAsync" behaviorConfiguration="clientCertificateConf" binding="customBinding" bindingConfiguration="SITBindingCustom" contract="RegOrgPortsTypeAsync" name="SIT1_RegOrgPortAsync"></endpoint>
      <endpoint address="https://217.107.108.147:10081/ext-bus-device-metering-service/services/DeviceMeteringAsync" behaviorConfiguration="clientCertificateConf" binding="customBinding" bindingConfiguration="SITBindingCustom" contract="DeviceMeteringPortTypesAsync" name="SIT1_DeviceMeteringPortAsync"></endpoint>
      <endpoint address="https://217.107.108.147:10081/ext-bus-home-management-service/services/HomeManagementAsync" behaviorConfiguration="clientCertificateConf" binding="customBinding" bindingConfiguration="SITBindingCustom" contract="HouseManagementPortsTypeAsync" name="SIT1_HouseManagementPortAsync"></endpoint>
      <endpoint address="https://217.107.108.147:10081/ext-bus-nsi-common-service/services/NsiCommonAsync" behaviorConfiguration="clientCertificateConf" binding="customBinding" bindingConfiguration="SITBindingCustom" contract="NsiPortsTypeAsync" name="SIT1_NsiPortAsync"></endpoint>
      <endpoint address="https://217.107.108.147:10081/ext-bus-bills-service/services/BillsAsync" behaviorConfiguration="clientCertificateConf" binding="customBinding" bindingConfiguration="SITBindingCustom" contract="BillsPortsTypeAsync" name="SIT1_BillsPortAsync"></endpoint>
      <endpoint address="https://217.107.108.147:10081/ext-bus-payment-service/services/PaymentAsync" behaviorConfiguration="clientCertificateConf" binding="customBinding" bindingConfiguration="SITBindingCustom" contract="PaymentPortsTypeAsync" name="SIT1_PaymentPortAsync"></endpoint>
      <endpoint address="https://217.107.108.147:10081/ext-bus-nsi-service/services/NsiAsync" behaviorConfiguration="clientCertificateConf" binding="customBinding" bindingConfiguration="SITBindingCustom" contract="NsiPortsTypeAsync1" name="SIT1_NsiPortAsync1"></endpoint>
      <endpoint address="https://217.107.108.147:10081/ext-bus-volume-quality-service/services/VolumeQualityAsync" behaviorConfiguration="clientCertificateConf" binding="customBinding" bindingConfiguration="SITBindingCustom" contract="VolumeQualityPortAsync" name="SIT1_VolumeQualityPortAsync"></endpoint>
      <!-- SIT2 -->
      <endpoint address="https://217.107.108.156:10081/ext-bus-org-registry-common-service/services/OrgRegistryCommonAsync" behaviorConfiguration="clientCertificateConf" binding="customBinding" bindingConfiguration="SITBindingCustom" contract="RegOrgPortsTypeAsync" name="SIT2_RegOrgPortAsync"></endpoint>
      <endpoint address="https://217.107.108.156:10081/ext-bus-device-metering-service/services/DeviceMeteringAsync" behaviorConfiguration="clientCertificateConf" binding="customBinding" bindingConfiguration="SITBindingCustom" contract="DeviceMeteringPortTypesAsync" name="SIT2_DeviceMeteringPortAsync"></endpoint>
      <endpoint address="https://217.107.108.156:10081/ext-bus-home-management-service/services/HomeManagementAsync" behaviorConfiguration="clientCertificateConf" binding="customBinding" bindingConfiguration="SITBindingCustom" contract="HouseManagementPortsTypeAsync" name="SIT2_HouseManagementPortAsync"></endpoint>
      <endpoint address="https://217.107.108.156:10081/ext-bus-nsi-common-service/services/NsiCommonAsync" behaviorConfiguration="clientCertificateConf" binding="customBinding" bindingConfiguration="SITBindingCustom" contract="NsiPortsTypeAsync" name="SIT2_NsiPortAsync"></endpoint>
      <endpoint address="https://217.107.108.156:10081/ext-bus-bills-service/services/BillsAsync" behaviorConfiguration="clientCertificateConf" binding="customBinding" bindingConfiguration="SITBindingCustom" contract="BillsPortsTypeAsync" name="SIT2_BillsPortAsync"></endpoint>
      <endpoint address="https://217.107.108.156:10081/ext-bus-payment-service/services/PaymentAsync" behaviorConfiguration="clientCertificateConf" binding="customBinding" bindingConfiguration="SITBindingCustom" contract="PaymentPortsTypeAsync" name="SIT2_PaymentPortAsync"></endpoint>
      <endpoint address="https://217.107.108.156:10081/ext-bus-nsi-service/services/NsiAsync" behaviorConfiguration="clientCertificateConf" binding="customBinding" bindingConfiguration="SITBindingCustom" contract="NsiPortsTypeAsync1" name="SIT2_NsiPortAsync1"></endpoint>
      <endpoint address="https://217.107.108.156:10081/ext-bus-volume-quality-service/services/VolumeQualityAsync" behaviorConfiguration="clientCertificateConf" binding="customBinding" bindingConfiguration="SITBindingCustom" contract="VolumeQualityPortAsync" name="SIT2_VolumeQualityPortAsync"></endpoint>
    </client>
  </system.serviceModel>
</configuration>