<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=7D1AFE2800030002D653">
      <section name="Gis_gkh_Tomsk.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Gis_gkh_Tomsk.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <system.diagnostics>
    <sources>
      <!--  <source name="System.ServiceModel.MessageLogging" switchValue="Warning">
        <listeners>
          <add name="xml" />
        </listeners>
      </source>
      <source name="System.Runtime.Serialization">
        <listeners>
          <add name="xml" />
        </listeners>
      </source>
      <source name="System.Net" maxdatasize="1024" switchValue="Warning, ActivityTracing">
      -->
      <source name="System.Net" maxdatasize="1024">
        <listeners>
          <add name="System.Net" />
        </listeners>
      </source>
      <source name="System.Net.Cache">
        <listeners>
          <add name="System.Net" />
        </listeners>
      </source>
    </sources>
    <sharedListeners>
      <!--<add name="xml" type="System.Diagnostics.XmlWriterTraceListener" initializeData="Traces.log" />-->
      <add name="System.Net" type="System.Diagnostics.TextWriterTraceListener" initializeData="network.log" traceOutputOptions="DateTime, Timestamp,  ProcessId, ThreadId" />
    </sharedListeners>
    <switches>
      <add name="System.Net" value="Verbose" />
      <add name="System.Net.Cache" value="Information" />
    </switches>
    <trace autoflush="true" />
  </system.diagnostics>
  <system.net>
    <settings>
      <servicePointManager checkCertificateName="false" checkCertificateRevocationList="false" />
    </settings>
  </system.net>
  <system.serviceModel>
    <diagnostics>
      <messageLogging logEntireMessage="false" maxMessagesToLog="300" logMessagesAtServiceLevel="false" logMalformedMessages="false" logMessagesAtTransportLevel="false" maxSizeOfMessageToLog="2147483647" />
      <endToEndTracing activityTracing="true" messageFlowTracing="true" />
    </diagnostics>
    <bindings>
      <customBinding>
        <!-- Привязка для работы с сервисами напрямую -->
        <binding name="SITBindingCustom" receiveTimeout="00:03:00" sendTimeout="00:10:00" closeTimeout="00:03:00" openTimeout="00:03:00">
          <textMessageEncoding messageVersion="Soap11" />
          <httpsTransport useDefaultWebProxy="false" requireClientCertificate="true" authenticationScheme="Basic" maxReceivedMessageSize="2147483647" />
        </binding>
        <binding name="PPAKBindingCustom" receiveTimeout="00:10:00" sendTimeout="00:10:00" closeTimeout="00:03:00" openTimeout="00:03:00">
          <textMessageEncoding messageVersion="Soap11" />
          <httpsTransport useDefaultWebProxy="false" requireClientCertificate="true" maxReceivedMessageSize="2147483647" />
        </binding>
      </customBinding>
      <basicHttpBinding>
        <binding name="secureHttpBinding" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" useDefaultWebProxy="false" sendTimeout="00:02:00" receiveTimeout="00:02:00">
          <security mode="Transport">
            <transport clientCredentialType="Certificate" realm="" proxyCredentialType="Ntlm" />
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <extensions>
      <behaviorExtensions>
        <add name="MyBehavior" type="Gis_gkh_Tomsk.MyExtensionElement, Gis_gkh_Tomsk, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
      </behaviorExtensions>
    </extensions>
    <behaviors>
      <endpointBehaviors>
        <behavior name="clientCertificateConf">
          <MyBehavior />
          <clientCredentials>
            <serviceCertificate>
              <!--<authentication certificateValidationMode="None" revocationMode="NoCheck" />-->
            </serviceCertificate>
          </clientCredentials>
        </behavior>
        <behavior name="clientCommon">
          <clientCredentials>
            <serviceCertificate>
              <!--<authentication certificateValidationMode="None" revocationMode="NoCheck" />-->
            </serviceCertificate>
          </clientCredentials>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <client>
      <endpoint address="https://217.107.108.156:10081/ext-bus-org-registry-common-service/services/OrgRegistryCommon" behaviorConfiguration="clientCertificateConf" binding="customBinding" bindingConfiguration="SITBindingCustom" contract="RegOrgPortsType" name="SIT2_RegOrgPort">
      </endpoint>
      <endpoint address="https://217.107.108.156:10081/ext-bus-device-metering-service/services/DeviceMetering" behaviorConfiguration="clientCertificateConf" binding="customBinding" bindingConfiguration="SITBindingCustom" contract="DeviceMeteringPortTypes" name="SIT2_DeviceMeteringPort">
      </endpoint>
      <endpoint address="https://217.107.108.156:10081/ext-bus-device-metering-service/services/DeviceMeteringAsync" behaviorConfiguration="clientCertificateConf" binding="customBinding" bindingConfiguration="SITBindingCustom" contract="DeviceMeteringPortTypesAsync" name="SIT2_DeviceMeteringPortAsync">
      </endpoint>
      <endpoint address="https://217.107.108.156:10081/ext-bus-home-management-service/services/HomeManagement" behaviorConfiguration="clientCertificateConf" binding="customBinding" bindingConfiguration="SITBindingCustom" contract="HouseManagementPortsType" name="SIT2_HouseManagementPort">
      </endpoint>
      <endpoint address="https://217.107.108.156:10081/ext-bus-home-management-service/services/HomeManagementAsync" behaviorConfiguration="clientCertificateConf" binding="customBinding" bindingConfiguration="SITBindingCustom" contract="HouseManagementPortsTypeAsync" name="SIT2_HouseManagementPortAsync">
      </endpoint>
      <endpoint address="https://217.107.108.156:10081/ext-bus-nsi-common-service/services/NsiCommon" behaviorConfiguration="clientCertificateConf" binding="customBinding" bindingConfiguration="SITBindingCustom" contract="NsiPortsType" name="SIT2_NsiPort">
      </endpoint>
      <endpoint address="https://217.107.108.156:10081/ext-bus-bills-service/services/Bills" behaviorConfiguration="clientCertificateConf" binding="customBinding" bindingConfiguration="SITBindingCustom" contract="BillsPortsType" name="SIT2_BillsPort">
      </endpoint>
      <endpoint address="https://217.107.108.156:10081/ext-bus-bills-service/services/BillsAsync" behaviorConfiguration="clientCertificateConf" binding="customBinding" bindingConfiguration="SITBindingCustom" contract="BillsPortsTypeAsync" name="SIT2_BillsPortAsync">
      </endpoint>
      <endpoint address="https://217.107.108.156:10081/ext-bus-payment-service/services/PaymentAsync" behaviorConfiguration="clientCertificateConf" binding="customBinding" bindingConfiguration="SITBindingCustom" contract="PaymentPortsTypeAsync" name="SIT2_PaymentPortAsync">
      </endpoint>
      <endpoint address="https://217.107.108.156:10081/ext-bus-nsi-service/services/Nsi" behaviorConfiguration="clientCertificateConf" binding="customBinding" bindingConfiguration="SITBindingCustom" contract="NsiPortsType1" name="SIT2_NsiPort1">
      </endpoint>
      <endpoint address="https://217.107.108.156:10081/ext-bus-organization-service/services/OrganizationAsync" behaviorConfiguration="clientCertificateConf" binding="customBinding" bindingConfiguration="SITBindingCustom" contract="ServicesPortsTypeAsync" name="SIT2_OrganizationManagementPortAsync">
      </endpoint>
      <endpoint address="https://217.107.108.156:10081/ext-bus-organization-service/services/Organization" behaviorConfiguration="clientCertificateConf" binding="customBinding" bindingConfiguration="SITBindingCustom" contract="ServicesPortsType" name="SIT2_OrganizationManagementPort">
      </endpoint>
      <endpoint address="https://217.107.108.156:10081/ext-bus-volume-quality-service/services/VolumeQualityAsync" behaviorConfiguration="clientCertificateConf" binding="customBinding" bindingConfiguration="SITBindingCustom" contract="VolumeQualityPortAsync" name="SIT2_VolumeQualityPortAsync">
      </endpoint>
      <endpoint address="https://api.dom.gosuslugi.ru/ext-bus-org-registry-common-service/services/OrgRegistryCommon" behaviorConfiguration="clientCertificateConf" binding="customBinding" bindingConfiguration="PPAKBindingCustom" contract="RegOrgPortsType" name="PPAK_RegOrgPort">
      </endpoint>
      <endpoint address="https://api.dom.gosuslugi.ru/ext-bus-device-metering-service/services/DeviceMetering" behaviorConfiguration="clientCertificateConf" binding="customBinding" bindingConfiguration="PPAKBindingCustom" contract="DeviceMeteringPortTypes" name="PPAK_DeviceMeteringPort">
      </endpoint>
      <endpoint address="https://api.dom.gosuslugi.ru/ext-bus-device-metering-service/services/DeviceMeteringAsync" behaviorConfiguration="clientCertificateConf" binding="customBinding" bindingConfiguration="PPAKBindingCustom" contract="DeviceMeteringPortTypesAsync" name="PPAK_DeviceMeteringPortAsync">
      </endpoint>
      <endpoint address="https://api.dom.gosuslugi.ru/ext-bus-home-management-service/services/HomeManagement" behaviorConfiguration="clientCertificateConf" binding="customBinding" bindingConfiguration="PPAKBindingCustom" contract="HouseManagementPortsType" name="PPAK_HouseManagementPort">
      </endpoint>
      <endpoint address="https://api.dom.gosuslugi.ru/ext-bus-home-management-service/services/HomeManagementAsync" behaviorConfiguration="clientCertificateConf" binding="customBinding" bindingConfiguration="PPAKBindingCustom" contract="HouseManagementPortsTypeAsync" name="PPAK_HouseManagementPortAsync">
      </endpoint>
      <endpoint address="https://api.dom.gosuslugi.ru/ext-bus-nsi-common-service/services/NsiCommon" behaviorConfiguration="clientCertificateConf" binding="customBinding" bindingConfiguration="PPAKBindingCustom" contract="NsiPortsType" name="PPAK_NsiPort">
      </endpoint>
      <endpoint address="https://api.dom.gosuslugi.ru/ext-bus-bills-service/services/Bills" behaviorConfiguration="clientCertificateConf" binding="customBinding" bindingConfiguration="PPAKBindingCustom" contract="BillsPortsType" name="PPAK_BillsPort">
      </endpoint>
      <endpoint address="https://api.dom.gosuslugi.ru/ext-bus-bills-service/services/BillsAsync" behaviorConfiguration="clientCertificateConf" binding="customBinding" bindingConfiguration="PPAKBindingCustom" contract="BillsPortsTypeAsync" name="PPAK_BillsPortAsync">
      </endpoint>
      <endpoint address="https://api.dom.gosuslugi.ru/ext-bus-payment-service/services/PaymentAsync" behaviorConfiguration="clientCertificateConf" binding="customBinding" bindingConfiguration="PPAKBindingCustom" contract="PaymentPortsTypeAsync" name="PPAK_PaymentPortAsync">
      </endpoint>
      <endpoint address="https://api.dom.gosuslugi.ru/ext-bus-nsi-service/services/Nsi" behaviorConfiguration="clientCertificateConf" binding="customBinding" bindingConfiguration="PPAKBindingCustom" contract="NsiPortsType1" name="PPAK_NsiPort1">
      </endpoint>
      <endpoint address="https://api.dom.gosuslugi.ru/ext-bus-organization-service/services/OrganizationAsync" behaviorConfiguration="clientCertificateConf" binding="customBinding" bindingConfiguration="PPAKBindingCustom" contract="ServicesPortsTypeAsync" name="PPAK_OrganizationManagementPortAsync">
      </endpoint>
      <endpoint address="https://api.dom.gosuslugi.ru/ext-bus-organization-service/services/Organization" behaviorConfiguration="clientCertificateConf" binding="customBinding" bindingConfiguration="PPAKBindingCustom" contract="ServicesPortsType" name="PPAK_OrganizationManagementPort">
      </endpoint>
      <endpoint address="https://api.dom.gosuslugi.ru/ext-bus-volume-quality-service/services/VolumeQualityAsync" behaviorConfiguration="clientCertificateConf" binding="customBinding" bindingConfiguration="PPAKBindingCustom" contract="VolumeQualityPortAsync" name="PPAK_VolumeQualityPortAsync">
      </endpoint>
      <endpoint address="https://217.107.108.147:10081/ext-bus-org-registry-common-service/services/OrgRegistryCommon" behaviorConfiguration="clientCertificateConf" binding="customBinding" bindingConfiguration="SITBindingCustom" contract="RegOrgPortsType" name="SIT1_RegOrgPort">
      </endpoint>
      <endpoint address="https://217.107.108.147:10081/ext-bus-device-metering-service/services/DeviceMetering" behaviorConfiguration="clientCertificateConf" binding="customBinding" bindingConfiguration="SITBindingCustom" contract="DeviceMeteringPortTypes" name="SIT1_DeviceMeteringPort">
      </endpoint>
      <endpoint address="https://217.107.108.147:10081/ext-bus-device-metering-service/services/DeviceMeteringAsync" behaviorConfiguration="clientCertificateConf" binding="customBinding" bindingConfiguration="SITBindingCustom" contract="DeviceMeteringPortTypesAsync" name="SIT1_DeviceMeteringPortAsync">
      </endpoint>
      <endpoint address="https://217.107.108.147:10081/ext-bus-home-management-service/services/HomeManagement" behaviorConfiguration="clientCertificateConf" binding="customBinding" bindingConfiguration="SITBindingCustom" contract="HouseManagementPortsType" name="SIT1_HouseManagementPort">
      </endpoint>
      <endpoint address="https://217.107.108.147:10081/ext-bus-home-management-service/services/HomeManagementAsync" behaviorConfiguration="clientCertificateConf" binding="customBinding" bindingConfiguration="SITBindingCustom" contract="HouseManagementPortsTypeAsync" name="SIT1_HouseManagementPortAsync">
      </endpoint>
      <endpoint address="https://217.107.108.147:10081/ext-bus-nsi-common-service/services/NsiCommon" behaviorConfiguration="clientCertificateConf" binding="customBinding" bindingConfiguration="SITBindingCustom" contract="NsiPortsType" name="SIT1_NsiPort">
      </endpoint>
      <endpoint address="https://217.107.108.147:10081/ext-bus-bills-service/services/Bills" behaviorConfiguration="clientCertificateConf" binding="customBinding" bindingConfiguration="SITBindingCustom" contract="BillsPortsType" name="SIT1_BillsPort">
      </endpoint>
      <endpoint address="https://217.107.108.147:10081/ext-bus-bills-service/services/BillsAsync" behaviorConfiguration="clientCertificateConf" binding="customBinding" bindingConfiguration="SITBindingCustom" contract="BillsPortsTypeAsync" name="SIT1_BillsPortAsync">
      </endpoint>
      <endpoint address="https://217.107.108.147:10081/ext-bus-payment-service/services/PaymentAsync" behaviorConfiguration="clientCertificateConf" binding="customBinding" bindingConfiguration="SITBindingCustom" contract="PaymentPortsTypeAsync" name="SIT1_PaymentPortAsync">
      </endpoint>
      <endpoint address="https://217.107.108.147:10081/ext-bus-nsi-service/services/Nsi" behaviorConfiguration="clientCertificateConf" binding="customBinding" bindingConfiguration="SITBindingCustom" contract="NsiPortsType1" name="SIT1_NsiPort1">
      </endpoint>
      <endpoint address="https://217.107.108.147:10081/ext-bus-organization-service/services/OrganizationAsync" behaviorConfiguration="clientCertificateConf" binding="customBinding" bindingConfiguration="SITBindingCustom" contract="ServicesPortsTypeAsync" name="SIT1_OrganizationManagementPortAsync">
      </endpoint>
      <endpoint address="https://217.107.108.147:10081/ext-bus-organization-service/services/Organization" behaviorConfiguration="clientCertificateConf" binding="customBinding" bindingConfiguration="SITBindingCustom" contract="ServicesPortsType" name="SIT1_OrganizationManagementPort">
      </endpoint>
      <endpoint address="https://217.107.108.147:10081/ext-bus-volume-quality-service/services/VolumeQualityAsync" behaviorConfiguration="clientCertificateConf" binding="customBinding" bindingConfiguration="SITBindingCustom" contract="VolumeQualityPortAsync" name="SIT1_VolumeQualityPortAsync">
      </endpoint>
    </client>
  </system.serviceModel>
  <userSettings>
    <Gis_gkh_Tomsk.Properties.Settings>
      <setting name="TransportCertificate" serializeAs="String">
        <value>7AE95088A09054573BCF9953B67C05B76D201879</value>
      </setting>
      <setting name="ScanDRSOpath" serializeAs="String">
        <value>\\dfs.rts.local\gis_zhkh_dogovor\</value>
      </setting>
      <setting name="LogRequest" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="PPAK" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="URLAddressUploadFiles" serializeAs="String">
        <value>https://217.107.108.156:10081/ext-bus-file-store-service</value>
      </setting>
      <setting name="ScanLSindividualService" serializeAs="String">
        <value>\\dfs.rts.local\gis_zhkh_dogovor\IndividualService\</value>
      </setting>
      <setting name="LogRequestPath" serializeAs="String">
        <value>d:\GIS GKH\Gis_gkh_Tomsk\</value>
      </setting>
      <setting name="Omnis" serializeAs="String">
        <value>Data Source=10.196.177.13;Initial Catalog=GIS_Test;Integrated Security=True;Application Name=ГИС ЖКХ</value>
      </setting>
      <setting name="ExportMeters_excludeISValues" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="SQL_Login" serializeAs="String">
        <value>GIS_JKH_user</value>
      </setting>
      <setting name="SQL_Pass" serializeAs="String">
        <value>c7Cn0/qk+hHhuN6ulHYdmw==</value>
      </setting>
    </Gis_gkh_Tomsk.Properties.Settings>
  </userSettings>
</configuration>