<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BillsBinding" />
                <binding name="BillsBindingAsync" />
                <binding name="DeviceMeteringBinding" />
                <binding name="DeviceMeteringBindingAsync" />
                <binding name="DisclosureBindingAsync" />
                <binding name="FASBindingAsync" />
                <binding name="HouseManagementBinding" />
                <binding name="HouseManagementBindingAsync" />
                <binding name="InfrastructureBinding" />
                <binding name="InfrastructureBindingAsync" />
                <binding name="InspectionBinding" />
                <binding name="InspectionBindingAsync" />
                <binding name="LicenseBinding" />
                <binding name="LicenseBindingAsync" />
                <binding name="NsiBinding" />
                <binding name="NsiBindingAsync" />
                <binding name="NsiBinding1" />
                <binding name="NsiBindingAsync1" />
                <binding name="RegOrgBinding" />
                <binding name="RegOrgBindingAsync" />
                <binding name="RegOrgBinding1" />
                <binding name="RegOrgBindingAsync1" />
                <binding name="PaymentsBindingAsync" />
                <binding name="ServicesBinding" />
                <binding name="ServicesBindingAsync" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://dom.gosuslugi.ru/schema/integration/8.7.0.3/bills-service/"
                binding="basicHttpBinding" bindingConfiguration="BillsBinding"
                contract="BillsPortsType" name="BillsPort" />
            <endpoint address="http://dom.gosuslugi.ru/integration/services/Bills"
                binding="basicHttpBinding" bindingConfiguration="BillsBindingAsync"
                contract="BillsPortsTypeAsync" name="BillsPortAsync" />
            <endpoint address="http://dom.gosuslugi.ru/integration/services/DeviceMetering"
                binding="basicHttpBinding" bindingConfiguration="DeviceMeteringBinding"
                contract="DeviceMeteringPortTypes" name="DeviceMeteringPort" />
            <endpoint address="http://dom.gosuslugi.ru/integration/services/DeviceMeteringAsync"
                binding="basicHttpBinding" bindingConfiguration="DeviceMeteringBindingAsync"
                contract="DeviceMeteringPortTypesAsync" name="DeviceMeteringPortAsync" />
            <endpoint address="http://dom.gosuslugi.ru/integration/services/DisclosureAsync"
                binding="basicHttpBinding" bindingConfiguration="DisclosureBindingAsync"
                contract="DisclosurePortsTypeAsync" name="DisclosurePortAsync" />
            <endpoint address="http://dom.gosuslugi.ru/integration/services/FASAsync"
                binding="basicHttpBinding" bindingConfiguration="FASBindingAsync"
                contract="FASPortsTypeAsync" name="FASPortAsync" />
            <endpoint address="http://dom.gosuslugi.ru/schema/integration/8.7.0.3/house-management-service/"
                binding="basicHttpBinding" bindingConfiguration="HouseManagementBinding"
                contract="HouseManagementPortsType" name="HouseManagementPort" />
            <endpoint address="http://dom.gosuslugi.ru/integration/services/HouseManagementAsync"
                binding="basicHttpBinding" bindingConfiguration="HouseManagementBindingAsync"
                contract="HouseManagementPortsTypeAsync" name="HouseManagementPortAsync" />
            <endpoint address="http://dom.gosuslugi.ru/schema/integration/8.7.0.3/infrastructure-service/"
                binding="basicHttpBinding" bindingConfiguration="InfrastructureBinding"
                contract="InfrastructurePortsType" name="InfrastructurePort" />
            <endpoint address="http://dom.gosuslugi.ru/integration/services/InfrastructureAsync"
                binding="basicHttpBinding" bindingConfiguration="InfrastructureBindingAsync"
                contract="InfrastructurePortsTypeAsync" name="InfrastructurePortAsync" />
            <endpoint address="http://dom.gosuslugi.ru/integration/services/Inspection"
                binding="basicHttpBinding" bindingConfiguration="InspectionBinding"
                contract="InspectionPortsType" name="InspectionPort" />
            <endpoint address="http://dom.gosuslugi.ru/integration/services/InspectionAsync"
                binding="basicHttpBinding" bindingConfiguration="InspectionBindingAsync"
                contract="InspectionPortsTypeAsync" name="InspectionPortAsync" />
            <endpoint address="http://dom.gosuslugi.ru/schema/integration/8.7.0.3/licenses-service/"
                binding="basicHttpBinding" bindingConfiguration="LicenseBinding"
                contract="LicensePortsTypes" name="LicensesPort" />
            <endpoint address="http://dom.gosuslugi.ru/integration/services/LicenseAsync"
                binding="basicHttpBinding" bindingConfiguration="LicenseBindingAsync"
                contract="LicensePortsTypeAsync" name="LicensesPortAsync" />
            <endpoint address="http://dom.gosuslugi.ru/schema/integration/8.7.0.3/nsi-service/"
                binding="basicHttpBinding" bindingConfiguration="NsiBinding"
                contract="NsiPortsType" name="NsiPort" />
            <endpoint address="http://dom.gosuslugi.ru/integration/services/NsiAsync"
                binding="basicHttpBinding" bindingConfiguration="NsiBindingAsync"
                contract="NsiPortsTypeAsync" name="NsiPortAsync" />
            <endpoint address="http://dom.gosuslugi.ru/schema/integration/8.7.0.3/nsi-common-service/"
                binding="basicHttpBinding" bindingConfiguration="NsiBinding1"
                contract="NsiPortsType1" name="NsiPort1" />
            <endpoint address="http://dom.gosuslugi.ru/integration/services/NsiCommonAsync"
                binding="basicHttpBinding" bindingConfiguration="NsiBindingAsync1"
                contract="NsiPortsTypeAsync1" name="NsiPortAsync1" />
            <endpoint address="http://dom.gosuslugi.ru/schema/integration/8.7.0.3/organizations-regestry-common-service/"
                binding="basicHttpBinding" bindingConfiguration="RegOrgBinding"
                contract="RegOrgPortsType" name="RegOrgPort" />
            <endpoint address="http://dom.gosuslugi.ru/integration/services/RegOrgCommonAsync"
                binding="basicHttpBinding" bindingConfiguration="RegOrgBindingAsync"
                contract="RegOrgPortsTypeAsync" name="RegOrgAsyncPort" />
            <endpoint address="http://dom.gosuslugi.ru/schema/integration/8.7.0.3/organizations-regestry-service/"
                binding="basicHttpBinding" bindingConfiguration="RegOrgBinding1"
                contract="RegOrgPortsType1" name="RegOrgPort1" />
            <endpoint address="http://dom.gosuslugi.ru/integration/services/RegOrgAsync"
                binding="basicHttpBinding" bindingConfiguration="RegOrgBindingAsync1"
                contract="RegOrgPortsTypeAsync1" name="RegOrgAsyncPort1" />
            <endpoint address="http://dom.gosuslugi.ru/integration/services/PaymentsAsync"
                binding="basicHttpBinding" bindingConfiguration="PaymentsBindingAsync"
                contract="PaymentPortsTypeAsync" name="PaymentPortAsync" />
            <endpoint address="http://dom.gosuslugi.ru/schema/integration/8.7.0.3/services-service/"
                binding="basicHttpBinding" bindingConfiguration="ServicesBinding"
                contract="ServicesPortsType" name="defaultPort" />
            <endpoint address="http://dom.gosuslugi.ru/integration/services/ServicesAsync"
                binding="basicHttpBinding" bindingConfiguration="ServicesBindingAsync"
                contract="ServicesPortsTypeAsync" name="defaultPort1" />
        </client>
    </system.serviceModel>
</configuration>